<div>
  @for (task of todolist; track $index) {
  <div class="flex justify-between gap-1 md:px-16 lg:px-24">
    <input type="text" />
    <p class="w-2/3 break-words">{{ task.task }}</p>
    <div class="flex">
      <button class="cursor-pointer" (click)="editTask(task.task)">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="cursor-pointer" (click)="deleteTask(task.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="cursor-pointer" (click)="completeTask(task.id)">
        <mat-icon> check_circle</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
