<div>
  <h1 class="text-center text-emerald-500 p-3 mb-4 text-xl">ToDo List!</h1>

  @if(inputError){
  <p class="flex justify-center text-red-600">Please enter a task</p>
  }

  <!--using a template reference variable to get the input element-->
  <div class="flex flex-col justify-center gap-1 mb-10 md:flex-row">
    <input
      type="text"
      class="border rounded p-2 h-12"
      placeholder="Add task"
      #taskInput
      (keyup.enter)="addTask(taskInput)"
    />

    <div class="flex justify-between gap-3">
      <mat-form-field class="example-full-width bg-transparent">
        <mat-label>Choose a due date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [min]="today"
          (dateInput)="getDueDate($event)"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div
        class="border h-14 rounded-lg flex p-2 bg-gray-300 cursor-pointer justify-center items-center"
        (click)="addTask(taskInput)"
      >
        <mat-icon> add</mat-icon>
      </div>
    </div>
  </div>

  <!--div to display all tasks-->
  <div>
    @if (allTasks.length === 0 && completedTasks.length === 0) {
    <p class="text-center text-gray-400">No tasks created yet</p>
    } @else if (pendingTasks.length === 0 && completedTasks.length !== 0) {
    <p class="text-center text-gray-400">No pending tasks</p>
    } @else {

    <div class="grid grid-cols-3 justify-between text-emerald-500">
      <h6 class="text-center">Task</h6>
      <h6 class="text-center">Due Date</h6>
      <h6 class="text-center">Actions</h6>
    </div>
    }
    <!--displaying all the todolists from the TodoListComponent-->
    <!--using event binding to listen to the deleteTaskEvent and completeTaskEvent that we defined in our TodoListComponent-->
    <app-todolist
      [todoList]="pendingTasks"
      (editTaskEvent)="editTask($event)"
      (deleteTaskEvent)="deleteTask($event)"
      (completeTaskEvent)="completeTask($event)"
    ></app-todolist>
  </div>

  <!--conditionally display this only when completed tasks is not empty-->
  @if (completedTasks.length > 0) {
  <div class="mt-16 text-center">
    <h5 class="text-emerald-500">Completed!!!🥳🎉</h5>
    @for (task of completedTasks; track $index) {
    <p>{{ task.task }}</p>
    }
  </div>
  }
</div>
