<div class="bg-emerald-200 p-6">
  <h1 class="text-center p-3 mb-4 font-bold text-3xl">ToDo List!</h1>

  <!--using a template reference variable to get the input element-->
  <div class="flex justify-center gap-1 mb-10">
    <input
      type="text"
      class="w-2/3 border rounded p-2"
      placeholder="Add task"
      #taskInput
    />
    <button
      class="border rounded p-2 bg-gray-300 cursor-pointer"
      (click)="addTask(taskInput)"
    >
      Add
    </button>
  </div>

  <!--displaying all the todolists from the TodoListComponent-->

  <app-todolist [todolist]="allTasks"></app-todolist>
</div>
