/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

app-root {
  max-width: 1000px;
  margin: auto;
  display: block;
  padding: 2rem;
  /* text-align: center; */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
